.chess-board {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: black;
    padding: 5px;
    width: 680px;
    height: 680px
}

.board-block {
    background-color: white;
    width: 85px;
    height: 85px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}