.chess-board {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: rgb(0 74 158);
    padding: 5px;
    width: 680px;
    height: 680px
}

.board-block {
    background-color: white;
    width: 85px;
    height: 85px;
}

.white {
    background-color:rgb(232 235 239);
}

.black {
    background-color: rgb(125 135 150);
}